.frame {
    background-image: url(./header1bg.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 32px;
    height: 416px;
    overflow: hidden;
    position: relative;
    width: 588px;
}

.frame .div {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(4px) brightness(100%);
    background-color: #ffffffcc;
    border-radius: 32px;
    display: inline-flex;
    gap: 8px;
    left: 27px;
    padding: 12px 24px;
    position: relative;
    top: 338px;
}

.frame .text-wrapper {
    color: #000000;
    font-family: var(--button-large-font-family);
    font-size: var(--button-large-font-size);
    font-style: var(--button-large-font-style);
    font-weight: var(--button-large-font-weight);
    letter-spacing: var(--button-large-letter-spacing);
    line-height: var(--button-large-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .arrow-right-up-line {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}